projects/project_1/files/template/container.o
projects/project_1/files/template/main.o
projects/project_1/files/template/mytest.o
projects/project_1/files/template/test.o
projects/project_1/files/template/build/Debug/main.o
